---
import Layout from "~/layouts/Layout.astro";
import Hero from "~/sections/Hero.astro";
import Conditions from "~/sections/Conditions.astro";
import SuccessStories from "~/sections/SuccessStories.astro";
import TreatmentJourney from "~/sections/TreatmentJourney.astro";
---

<Layout>
  <main aria-hidden="false" aria-label="Main content" role="main">
    <Hero />
    <Conditions />
    <TreatmentJourney />
    <SuccessStories />
  </main>
</Layout>
