---
import { Image } from "astro:assets";
import brainPuzzle from "../assets/brain-puzzle.svg";
import Pill from "~/components/Pill.astro";
import { Icon } from "astro-icon/components";
---

<div class="relative isolate">
  <div class="overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-6 pb-16 sm:pb-24 lg:pb-32 pt-12 sm:pt-8 lg:px-8"
    >
      <div
        class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center lg:justify-between"
      >
        <!-- Left content -->
        <div class="relative w-full lg:max-w-xl lg:shrink-0 xl:max-w-2xl">
          <div class="flex">
            <div class="group">
              <Pill variant="light">
                Trusted by 100+ clients.
                <a
                  href="#success-stories"
                  class="ml-2 inline-flex items-center font-semibold text-primary transition-colors hover:text-primary-dark"
                >
                  See success stories
                  <Icon
                    name="mdi:arrow-right"
                    class="ml-1 h-4 w-4 transition-transform group-hover:translate-x-1"
                  />
                </a>
              </Pill>
            </div>
          </div>
          <h1
            class="mt-8 text-pretty font-serif text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight text-gray-900"
          >
            Transform <span
              class="inline-block text-secondary highlight-secondary-light highlight-h-20 highlight-opacity-40 highlight-rounded-md highlight-behind"
              >Struggles</span
            > into
            <span
              class="inline-block text-secondary highlight-secondary-light highlight-h-20 highlight-opacity-40 highlight-rounded-md highlight-behind"
              >Strengths</span
            >
          </h1>
          <div class="relative mt-8">
            <p
              class="text-pretty text-lg font-normal text-gray-600 sm:text-xl/8 relative"
            >
              Expert outpatient mental health care that adapts to your unique
              journey. Our comprehensive approach helps you build a stronger,
              more resilient future and <span class="font-semibold"
                >State of Mind</span
              >.
            </p>
          </div>
          <div class="mt-10 flex items-center gap-x-6">
            <button
              onclick="openModal()"
              class="inline-flex items-center px-6 py-3 rounded-full text-md font-medium bg-black text-white hover:bg-primary-light group transition-all duration-300 hover:shadow-lg hover:-translate-y-1"
            >
              Schedule Now
            </button>
            <a
              href="#"
              class="group relative text-md font-semibold text-gray-900"
            >
              Get to know us
              <Icon
                name="mdi:arrow-right"
                class="inline-block ml-1 h-4 w-4 transition-transform group-hover:translate-x-1"
              />
              <span
                class="absolute -bottom-1 left-0 h-[3px] w-full origin-left scale-x-0 bg-accent-orange transition-transform duration-300 group-hover:scale-x-100"
              ></span>
            </a>
          </div>
        </div>

        <!-- Right side image - Modified for small screens -->
        <div class="mt-8 lg:mt-0">
          <Image
            src={brainPuzzle}
            width={1024}
            height={1440}
            loading="lazy"
            decoding="async"
            alt="Mind illustration"
            class="relative aspect-[3/4] w-full max-w-md mx-auto rounded-xl object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</div>
